services:
  collector:
    build: ./collector-service
    ports:
      - "31700:8080"
    depends_on:
      - image-analysis
      - face-recognition
      - section
      - alert

  camera1:
    image: ccuni/camera-service-2025w
    restart: always
    ports:
      - "31100:80"
    deploy:
      mode: replicated
      replicas: 1
      resources:
        limits:
          cpus: "0.125"

  section:
    image: ccuni/section-service-2025w
    ports:
      - "31400:80"

  image-analysis:
    image: ccuni/image-analysis-service-2025w
    ports:
      - "31200:80"

  face-recognition:
    image: ccuni/face-recognition-service-2025w
    ports:
      - "31300:80"

  alert:
    image: ccuni/alert-service-2025w
    ports:
      - "31500:80"
