apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: image-analysis-hpa
  namespace: assignment
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: image-analysis-deployment
  minReplicas: 1
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
